.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  &-form {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px dotted gray;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    border-radius: 6px;
    gap: 8px;
    &-inputname {
      border-radius: 6px;
      background-color: #2d333b;
      color: #adbac7;
      border: none;
      padding: 8px;
    }
  }
}
